@import url('vendor/normalize.css');
@import url('vendor/fonts/fonts.css');
@import url('blocks/header/header.css');
@import url('blocks/page/page.css');
@import url('blocks/page/page-main.css');
@import url('blocks/vizitka/vizitka.css');
@import url('blocks/vizitka/__socseti/vizitka__socseti.css');
@import url('blocks/menu/menu.css');
@import url('blocks/menu/__title/menu__title.css');
@import url('blocks/vizitka/__tel/vizitka__tel.css');
@import url('blocks/main/main.css');
@import url('blocks/footer/footer.css');
@import url('blocks/options/options.css');
@import url('blocks/table/table.css');
@import url('blocks/table/__heading/table__heading.css');
@import url('blocks/table/__cell/table__cell.css');
@import url('blocks/table/__image/table__image.css');
@import url('blocks/table/text/table__text.css');
@import url('blocks/table/__image/table__image.css');
@import url('blocks/table/__href/table__href.css');
@import url('blocks/options/options__title.css');
@import url('blocks/footer/__columns/footer__columns.css');
@import url('blocks/footer/__column/footer__column.css');
@import url('blocks/footer/__column-heading/footer__column-heading.css');
@import url('blocks/footer/__column-links/footer__column-links.css');
@import url('blocks/footer/__column-link/footer__column-link.css');
@import url('blocks/footer/__address/footer__address.css');
@import url('blocks/logo/logo.css');
@import url('blocks/footer/__column_content_copyright/footer__column_content_copyright.css');
@import url('blocks/main/__rent/main__rent.css');
@import url('blocks/main/__rent/rent__text.css');
@import url('blocks/main/__rent/rent__title.css');
@import url('blocks/main/__rent/rent__ul.css');
@import url('blocks/main/__rent/rent__div.css');
@import url('blocks/main/__rent/rent__description.css');
@import url('blocks/main/__rent/rent__text2.css');
@import url('blocks/main/__rent/li__item.css');
@import url('blocks/main/main__image.css');
@import url('blocks/burger/burger.css');
@import url('blocks/formsection/formsection.css');
@import url('blocks/formsection/__container/formsection__container.css');
@import url('blocks/formsection/__title/formsection__title.css');
@import url('blocks/formsection/__inputbox/formsection__inputbox.css');
@import url('blocks/formsection/__submit/formsection__submit.css');
@import url('blocks/formsection/__content/formsection__content.css');
@import url('blocks/formsection/__form/formsection__form.css');
@import url('blocks/mk-art/mk-art.css');
@import url('blocks/table/__image/table__image_art.css');
@import url('blocks/table/__order/table__order.css');
@import url('blocks/table/__order/table__order_mk.css');
@import url('blocks/table/text/table__text_wh.css');
@import url('blocks/dropdown/dropdown-content.css');
@import url('blocks/dropdown/dropdown.css');
@import url('blocks/dropdown/dropdown-link.css');
@import url('blocks/masterklass/masterklass.css');
@import url('blocks/masterklass/__container/masterklass__container.css');
@import url('blocks/slideshow/slideshow-container.css');
@import url('blocks//masterklass/__text/masterklass__text.css');
@import url('blocks//masterklass/__title/masterklass__title.css');
@import url('blocks//masterklass/__table/masterklass__table.css');
@import url('blocks//masterklass/__title/_table/masterklass__title_table.css');
@import url('blocks//masterklass/__text/masterklass__text_subtitle.css');
@import url('blocks//masterklass/__border/masterklass__border.css');
@import url('blocks/masterklass/__text/masterklass__text_mini.css');
@import url('blocks/masterklass/__text/masterklass__text_bottom.css');
@import url('blocks/main/__rent/rent__image.css');
@import url('blocks/popup/popup.css');
@import url('blocks/popup/__container/popup__container.css');
@import url('blocks/popup/_opened/popup_opened.css');
@import url('blocks/popup/__close/popup__close.css');
@import url('blocks/popup/__form/popup__form.css');
@import url('blocks/popup/__input-save/popup__input-save.css');
@import url('blocks/popup/__title/popup__title.css');



* {
  margin: 0;
  padding: 0;
}
/* Контейнер с ограниченными размерами, он будет выполнять роль "окна" */
.slider-container {
    width: 600px;
    max-height: 600px;
    position: relative;
    overflow: hidden;
}

.slider-item {
    background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  
}
.first {
    background-image: url('./photo19.jpg');
}

.second {
    background-image: url('./photo18.jpeg');
}


/* Лента с фото, имеет неограниченную ширину и тип flex, чтобы картинки не переносились */
.slider-track {
    height: 600px;
    display: flex;
    transition-duration: .5s;
}

/* Стили для оформления кнопок prev/next */
.arrow {
    width: 7px;
    height: 7px;
    border-top: #cacaca 3px solid;
    border-right: #cacaca 3px solid;
    position: absolute;
}

.arrow-bg {
    width: 30px;
    height: 30px;
    background: #fff;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
    border-radius: 50%;
    position: relative;
    opacity: .8;
    cursor: pointer;
}

.arrow-left .arrow {
    transform: rotate(-135deg);
    top: 10px;
    left: 12px;
}

.arrow-right .arrow {
    transform: rotate(45deg);
    top: 10px;
    left: 8px;
}

.arrow-left {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 2;
}

.arrow-right {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 2;
}

.slideshow-container {

    position: relative;
    
  }

  @media (max-width: 600px){
    .slideshow-container   {
        position: relative;
        margin: auto;
        max-width: 100%;
    }
    }
  
  /* Hide the images by default */
  .mySlides {
      display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  .test {
    width: 100%;
  }

  @media (max-width: 300px){
    .test {
        width: 100%;
    }
    }