.main__rent {
    background-color: white;
    padding-top: 120px;
    min-height: 500px;
    padding-left: 180px;
}

@media (max-width: 1600px){
    .main__rent {
  
       padding-left: 30px;
    }
    }

    @media (max-width: 500px){
        .main__rent {
           padding-top: 70px;
           padding-left: 10px;
        }
        }