.rent__description {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 70px;
    padding-bottom: 30px;

}




@media (max-width: 767px) {
.rent__description{
    grid-template-columns: 520px;
    justify-items: center;
}
}