.rent__text {
    color: black;
    font-size: 18px;
    margin: 100px 0 0 30px;
    font-weight: 700;
    line-height: 2;

}

@media (max-width: 800px){
    .rent__text {
        font-size: 12px;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 20px;
        text-align: center; 
        line-height: 1.5;
    }
    }