.rent__image {
   max-height: 500px;
 margin-top: 20px;
 margin-left: 100px;
 margin-bottom: 30px;
}


@media (max-width: 1000px) {
    .rent__image {
        margin-left: 0;
}
}

@media (max-width: 950px) {
    .rent__image {
    max-height: 320px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
   
}
}
