.options {
    background-color: #FFFFF0;
    font-size: 14px;
    font-weight: 300;
    color: black;
    padding: 30px 30px 70px;

}

@media (max-width: 500px) {
    .options {
        padding: 0 15px 30px;
    }
}