.table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin: auto;
    column-gap: 20px;
    width: 100%;
}
/*
@media (max-width: 1300px) {
    .table {
        grid-template-columns: repeat(3, 320px);
        margin-left: 30px;
    }
}

@media (max-width: 1100px) {
    .table {
        grid-template-columns: repeat(3, 280px);
        margin-left: 50px;
    }
}

@media (max-width: 930px) {
    .table {
        grid-template-columns: repeat(3, 240px);
    }
}

@media (max-width: 820px) {
    .table {
        grid-template-columns: repeat(2, 300px);

    }
}

@media (max-width: 700px) {
    .table {
        grid-template-columns: repeat(2, 250px);
        margin-left: 20px;

    }
}*/