.masterklass__title {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    text-align: center;

}

@media (max-width: 1300px){
    .masterklass__title {
        font-size: 38px;
    }
    }

 @media (max-width: 900px){
        .masterklass__title{
            font-size: 32px;
        }
        }

@media (max-width: 600px){
    .masterklass__title {
        font-size: 24px;
    }
    }

