.footer__column-links {
    padding: 0;
    text-decoration: none;
    list-style-type:none;
    
}


@media (max-width: 600px) {
    .footer__social-text {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .footer__social-icon {
      height: 18px;
      margin-top: 7px;
      margin-left: 20px;
    }
  }

  