.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 70px 0 70px;
    list-style-type:none;
    align-items: center;
}
@media (max-width: 1200px){
    .menu {
        padding: 0;
    }
    }

